
.root {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.tooltipContainer {
  display: block;
  padding: 4px 8px;
  text-align: right;
}

.header {
  display: table;
  width: 100%;
}

.header:after {
  content: ' ';
  display: block;
  background: #ccc;
  height: 8px;
}

.headerBlue:after {
  background: #4892c0;
}

.headerGreen:after {
  background: #75a370;
}

.headerYellow:after {
  background: #f2b038;
}

.headerPurple:after {
  background: #7066a5;
}


.h1Container {
  display: block;
}

.h1ContainerInner {
  display: table-cell;
  vertical-align: middle;
  min-height: 100px;
}

.header h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 1rem;
  color: #000000;
}



.countContainer .count-value {
  font-size: 70px;
  font-weight: 300;
  opacity: 0.9;
}
.countContainer .count-value.no-data {
  font-size: 40px;
}
.countContainer .count-units {
  font-size: 32px;
  font-weight: 600;
}


.countTrend {
  padding: 1em 2px;
}

.countTrend .trend-value,
.countTrend .trend-date {
  display: block;
}

.countTrend .trend-value .fa {
  color: #0075cd;
}





.countValue {
  display: table;
  width: 100%;
  min-height: 100px;
}

.layoutSpanWhole {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.layoutSpanLeftPrefix {
  width: 54%;
  display: table-cell;
  vertical-align: middle;
  text-align: right;

}
.layoutSpanRightValue {
  width: 46%;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.layoutSpanLeftValue {
  width: 54%;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.layoutSpanRightSuffix {
  width: 46%;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
