*.yml
*.md
.npmignore
.idea/
.editorconfig
.eslintignore
.eslintrc
.babelrc
.travis.yml
public/
scripts/
config/
yarn-error.log
.*.test.js
src/
fixtures/
_trash/
.github/
build/
coverage/
docs/
styleguide.config.js
yarn.lock
.eslintrc.js

