
.D_CTWD_root {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.D_CTWD_tooltipContainer {
  display: block;
  padding: 4px 8px;
  text-align: right;
}

.D_CTWD_header {
  display: block;
  width: 100%;
}

/*block color*/
.D_CTWD_header:after {
  content: ' ';
  display: block;
  background: #ccc;
  height: 8px;
}

.D_CTWD_headerBlue:after {
  background: #4892c0;
}

.D_CTWD_headerGreen:after {
  background: #75a370;
}

.D_CTWD_headerYellow:after {
  background: #f2b038;
}

.D_CTWD_headerPurple:after {
  background: #7066a5;
}

.D_CTWD_h1Container {
  display: table;
  width: 100%;
}

.D_CTWD_h1ContainerInner {
  display: table-cell;
  vertical-align: middle;
  min-height: 20px;
  padding: 0 16px;
}

.D_CTWD_h1Container h1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 14px;
  color: #000000;
}



.D_CTWD_countContainer {
  display: table;
  width: 100%;
  min-height: 120px;
  padding: 0 16px;
}

.D_CTWD_layoutLeftValue,
.D_CTWD_layoutRightSuffix,
.D_CTWD_layoutLeftPrefix,
.D_CTWD_layoutRightValue {
  display: table-cell;
  vertical-align: middle;
}

.D_CTWD_layoutLeftValue {
  width: 60%;
  text-align: right;
}

.D_CTWD_layoutRightSuffix {
  width: 40%;
  text-align: left;
}

.D_CTWD_layoutLeftPrefix {
  width: 40%;
  text-align: right;
}

.D_CTWD_layoutRightValue {
  width: 60%;
  text-align: left;
}

@media (max-width: 1200px) {  /*$screen-lg*/
  .D_CTWD_layoutLeftValue {
    width: 80%;
  }
}
@media (max-width: 1200px) {  /*$screen-lg*/
  .D_CTWD_layoutRightSuffix {
    width: 20%;
  }
}
@media (max-width: 1200px) {  /*$screen-lg*/
  .D_CTWD_layoutLeftPrefix {
    width: 20%;
  }
}
@media (max-width: 1200px) {  /*$screen-lg*/
  .D_CTWD_layoutRightValue {
    width: 80%;
  }
}


.D_CTWD_layoutFull {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.D_CTWD_countValue {
  font-size: 62px;
  font-weight: 300;
  opacity: 0.9;
}

@media (max-width: 1200px) {  /*$screen-lg*/
  .D_CTWD_countValue {
    font-size: 52px;
  }
  .D_CTWD_countUnits {
    font-size: 20px;
  }
}

.D_CTWD_countUnits {
  font-size: 28px;
  font-weight: 600;
}

.D_CTWD_countNodata {
  font-size: 32px;
}


.D_CTWD_trendContainer {
  min-height: 80px;
  padding: 0 2px 0;
}

.D_CTWD_trendContainerInner {
  padding: 1em 2px;
  margin: 0 1em;
  border-top: 1px solid #cfcfcf;
}

.D_CTWD_trendValue,
.D_CTWD_trendDate {
  display: block;
  vertical-align: middle;
  text-align: center;
}

.D_CTWD_trendValue .fa {
  color: #0075cd;
}
