
.root {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.tooltipContainer {
  display: block;
  padding: 4px 8px;
  text-align: right;
}

.header {
  display: table;
  width: 100%;
}

/*block color*/
.header:after {
  content: ' ';
  display: block;
  background: #ccc;
  height: 8px;
}

.headerBlue:after {
  background: #4892c0;
}

.headerGreen:after {
  background: #75a370;
}

.headerYellow:after {
  background: #f2b038;
}

.headerPurple:after {
  background: #7066a5;
}


.h1Container {
  display: block;
  min-height: 20px;
}

.h1Container h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 1rem;
  color: #000000;
}


.countContainer {
  display: table;
  width: 100%;
  min-height: 120px;
}

.layoutLeftValue,
.layoutRightSuffix {
  display: table-cell;
  vertical-align: middle;
}

.layoutLeftValue {
  width: 54%;
  text-align: right;
}

.layoutRightSuffix {
  width: 46%;
  text-align: left;
}

.layoutLeftPrefix {
  width: 46%;
  text-align: right;
}

.layoutRightValue {
  width: 54%;
  text-align: left;
}

.layoutFull {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.countValue {
  font-size: 70px;
  font-weight: 300;
  opacity: 0.9;
}

.countUnits {
  font-size: 32px;
  font-weight: 600;
}

.countNodata {
  font-size: 40px;
}


.trendContainer {
  min-height: 80px;
  padding: 0 2px 0;
}

.trendContainerInner {
  padding: 1em 2px;
  margin: 0 1em;
  border-top: 1px solid #cfcfcf;
}

.trendValue,
.trendDate {
  display: block;
  vertical-align: middle;
  text-align: center;
}

.trendValue .fa {
  color: #0075cd;
}
