
.D_CTWM_root {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 1em;
}

.D_CTWM_header {
  display: table;
  width: 100%;
  text-align: left;
}

/*block color*/
.D_CTWM_header:after {
  content: ' ';
  display: block;
  background: #ccc;
  height: 8px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.D_CTWM_headerBlue:after {
  background: #4892c0;
}

.D_CTWM_headerGreen:after {
  background: #75a370;
}

.D_CTWM_headerYellow:after {
  background: #f2b038;
}

.D_CTWM_headerPurple:after {
  background: #7066a5;
}

.D_CTWM_header h1 {
  font-size: 16px;
  margin: 0 0 2px;
}


.D_CTWM_layoutContainer {
  display: table;
  width: 100%;
  padding: 6px 12px;
  min-height: 55px;
}

.D_CTWM_layoutLeft,
.D_CTWM_layoutRight {
  display: table-cell;
  vertical-align: middle;
}

.D_CTWM_layoutLeft {}
.D_CTWM_layoutRight {}


.D_CTWM_countContainer {
  display: table;
  text-align: right;
}

.D_CTWM_countValue,
.D_CTWM_countUnits {
  display: table-cell;
  vertical-align: middle;
}

.D_CTWM_countValue {
  font-size: 40px;
  font-weight: 300;
  opacity: 0.9;
}

.D_CTWM_countUnits {
  font-size: 16px;
  font-weight: 600;
  vertical-align: middle;
}

.D_CTWM_countNodata {
  font-size: 22px;
}

.D_CTWM_trendValue {
  margin-right: 4px;
}
